
  .main-enhance{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.589);
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    display: flex;
    margin: 1rem auto 2rem;
    gap: 1rem;
    aspect-ratio: auto;
    overflow: hidden;
  }

  #enhance-layout {
    width: 100%;
    border-radius: 8px;
    padding: 10rem;
    line-height: 30px;
    text-align: center; 
  }


  .enhance-des {
    width: 100%;
}

#enhance-feature {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    flex-wrap: wrap; 
    gap: 1rem; 
}

#feature-1,
#feature-2,
#feature-3,
#feature-4,
#feature-5,
#feature-6 {
    font-size: 11px;
    padding: 1rem;
    flex: 2;
    box-sizing: border-box; 
}