/*----index styles----*/
#index-welcome {
  width: 100%;
  border-radius: 8px;
  padding: 5rem;
  line-height: 30px;
  color: white;
  text-align: center;
}

.main-intro {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.658), rgba(0, 0, 0, 0.658)),
    url("/cos10026/styles/images/indexmeeting.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  gap: 1rem;
  aspect-ratio: auto;
  overflow: hidden;
}

#intro-logo {
  margin: auto;
  width: 280px;
  height: 100px;
  background: url("/cos10026/styles/images/company_logo.png");
  background-size: cover;
  background-repeat: no-repeat;
  animation: floatUpDown 3s ease-in-out infinite;
}

.narow-head {
  font-size: 40px;
  font-weight: bold;
  padding: 1rem;
}

/*---index lower cotent---*/
.lower-content {
  display: flex;
  gap: 1rem;
  text-align: center;
  flex-direction: column;
}


.Img-cover {
  display: flex;
  padding: 0.5rem;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s
}

.Img-cover:hover {
  transform: translateY(-10px);
}

.Img-cover::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, transparent, #FF9800);
  transform: translateY(-100%);
  transition: transform 0.8s ease;
  opacity: 0.5;
  z-index: 1;
}

.Img-cover:hover::before {
  transform: translateY(0);
}

#index-reason {
  width: 100%;
  text-align: center;
}

#reason-box {
  display: flex;
  flex-direction: row;
  padding: 2rem;
  justify-content: space-between;
  gap: 1rem;
}

#reason-box div {
  flex: 1 1 10%;
  flex-direction: column;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.589);
  border-radius: 10px;
  box-sizing: border-box;
  background: #2B2B2B;
  color: white;
  font-size: 12px;
}

/*--picture--*/
#partnered-picture,
#specialized-picture,
#support-picture,
#coaching-picture {
  display: flex;
  padding: 1rem;
  border-radius: 8px;
    min-height: 200px;
   width: 100%;
  }

#partnered-picture {
    background: url("/cos10026/styles/images/shakehand.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }

#specialized-picture {
  background: url("/cos10026/styles/images/specialized.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#support-picture {
  background: url("/cos10026/styles/images/support.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#coaching-picture {
  background: url("/cos10026/styles/images/coaching.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#index-welcome{
  transform: translateY(100%);
  opacity: 0;

  animation: slideUp 1s ease forwards;
  animation-delay: 0.5s;
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes floatUpDown {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
    /* Logo di chuyển lên 20px */
  }
}

.reason-hr {
  padding: 0.25rem;
}

.under-title {
  padding: 0.5rem;
  font-weight: bold;
}

/*---Scrolling top---*/
.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: black;
  color: white;
  text-decoration: none;
  font-size: 24px;
  padding: 10px 15px;
  border-radius: 50%;
}

.scroll-to-top:hover {
  background: gray;
}


@media (max-width: 768px) {
  #reason-box {
    flex-direction: column;
    padding-right: 10rem;
    padding-left: 10rem;
  }

    #partnered-picture,
    #specialized-picture,
    #support-picture,
    #coaching-picture {
      display: flex;
      padding: 5rem;
      border-radius: 8px;
      min-height: 200px;
      max-width: 100%;
    }

  .main-intro {
    font-size: small;
  }

  .narow-head {
    font-size: 25px;
  }
}

@media (max-width: 590px) {
  #reason-box {
      flex-direction: column;
      padding-right: 1rem;
      padding-left: 1rem;
    }
}
